body {
    padding: 0;
    margin: 0;
    background-color: #ffead4;
}

h1, h2 {
    color: #BE253F;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-family: 'Lato', sans-serif;
    color: #484848;
    font-size: 1em;
}

.main-content {
    width: 100%;
}

.lett-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    margin-top: 5%;
    fill: transparent;
    animation: fill-lett-header 1s ease-in-out forwards 1s;
}

.lett-header g {
    stroke-width: 2px;
    stroke: red;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: fill-lett-header-stroke 2s ease-in-out forwards;
}

.section-card {
    transform: translate(0,-200px);
    opacity: 0;
}

.container-card {
    width: 90%;
    height: auto;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 1rem;
    max-width: 500px;
    background-color: #fff;
}
.card svg {
    width: 100%;
    margin: 0 auto;
}

.animacao-card {
    animation: animation-cards 1s ease-in-out forwards;
}



.container-footer {
    width: 100%;
    height: auto;
    position: relative;
}

.lett-footer {
    width: 60%;
    opacity: 0.8;
    position: absolute;
    left: 25%;
    margin-top: 10%;
}

@keyframes fill-lett-header {
    to {
        fill: red;
    }
}

@keyframes fill-lett-header-stroke {
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes animation-cards {
    to {
       opacity: 1;
       transform: translate(0,0);
    }
}